---
layout: default
---



<h1 class="page-heading">All Posts</h1>

{% for post in paginator.posts %}
    <article class="post">

        <h2 class="post__title"><a class="post__link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a></h2>

        <span class="post__meta">Posted on {{ post.date | date: "%B %-d, %Y" }}</span>

        <p class="post__content">{{ post.content | strip_html | truncatewords: 30 }}</p>

    </article>
{% endfor %}

<ul>
    <li class="">
        {% if paginator.previous_page %}
            <a class="" href="{{ paginator.previous_page_path }}">
                <img src="{{ site.baseurl }}/img/previous.svg" alt="">
            </a>
        {% else %}
            <span>
                <img src="{{ site.baseurl }}/img/previous.svg" alt="">
            </span>
        {% endif %}
    </li>

    {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
            <li>
                <span >{{ page }}</span>
            </li>
        {% elsif page == 1 %}
            <li>
                <a href="/">{{ page }}</a>
            </li>
        {% else %}
            <li>
                <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            </li>
        {% endif %}
    {% endfor %}

    <li class="">
        {% if paginator.next_page %}
        <a class="" href="{{ paginator.next_page_path }}">
            <img src="{{ site.baseurl }}/img/next.svg" alt="">
        </a>
        {% else %}
        <span>
            <img src="{{ site.baseurl }}/img/next.svg" alt="">
        </span>
        {% endif %}
    </li>
</ul>
