---
layout: default
---

{% for post in paginator.posts %}
    <article class="post">

        <h2 class="post__title"><a class="post__link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a></h2>

        <span class="post__meta">Posted on {{ post.date | date: "%B %-d, %Y" }}</span>

        <p class="post__content">{{ post.content | strip_html | truncatewords: 30 }}</p>

    </article>
{% endfor %}

<nav class="pagination flex">
    {% if paginator.previous_page %}
        <a class="flex align-center pagination__nav" href="{{ paginator.previous_page_path }}">
            <svg class="pagination__icon"><use xlink:href="{{site.baseurl}}/img/sprite.svg#icon-previous"></use></svg>
        </a>
    {% else %}
        <span class="flex align-center">
            <svg class="pagination__icon disabled"><use xlink:href="{{site.baseurl}}/img/sprite.svg#icon-previous"></use></svg>
        </span>
    {% endif %}

    <ul class="pagination__num flex justify-center" flex>
        {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
                <li>
                    <span >{{ page }}</span>
                </li>
            {% elsif page == 1 %}
                <li>
                    <a href="/">{{ page }}</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>


    {% if paginator.next_page %}
        <a class="flex align-center pagination__nav" href="{{ paginator.next_page_path }}">
            <svg class="pagination__icon"><use xlink:href="{{site.baseurl}}/img/sprite.svg#icon-next"></use></svg>
        </a>
    {% else %}
        <span class="flex align-center">
            <svg class="pagination__icon disabled"><use xlink:href="{{site.baseurl}}/img/sprite.svg#icon-next"></use></svg>
        </span>
    {% endif %}
</nav>
