<footer class="main-footer">

    <div class="wrapper text-center">

        <main class="main-footer__copyright">
            Copyright &copy; {{ site.time | date: '%Y' }} - Sebastien Pelletier
        </main>

        <section class="flex justify-center">
            <a href="https://twitter.com/sebastpelletier" target="_blank" class="main-footer__link" title="Twitter">
                Twitter
            </a>
            <a href="https://github.com/sebpelletier" target="_blank" class="main-footer__link" title="GitHub">
                GitHub
            </a>
            <a href="https://ca.linkedin.com/in/pelletiersebastien" target="_blank" class="main-footer__link" title="LinkedIn">
                LinkedIn
            </a>
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="main-footer__link" title="RSS">
                RSS
            </a>
        </section>

    </div>

</footer>
