<header class="main-header">

    <main class="wrapper flex align-center">

        <a class="main-header__img" href="/" title="Go back to Home">

            <svg class="logo" id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
                <path class="ellipse" d="M100,12a88,88,0,1,1-88,88,88.1,88.1,0,0,1,88-88m0-12A100,100,0,1,0,200,100,100,100,0,0,0,100,0Z"/>
                <g class="letters" id="letters">
                    <path d="M96.4,84.1,89.1,95.5a20.8,20.8,0,0,0-5.9-6,11.1,11.1,0,0,0-5.8-1.9,5.5,5.5,0,0,0-3.5,1.1,3.2,3.2,0,0,0-1.4,2.5,4.1,4.1,0,0,0,1.1,2.7q1.1,1.3,6.6,5.2,8.8,6.1,11.6,10.5a17.4,17.4,0,0,1,2.8,9.5q0,6.8-5.7,12.8t-16.5,6A26,26,0,0,1,61,135.5q-5.1-2.5-11.4-9L59,115.8Q65.4,124,73,124a7.6,7.6,0,0,0,4.8-1.4,4.2,4.2,0,0,0,1.8-3.4,5.1,5.1,0,0,0-1.4-3.2q-1.4-1.6-7.5-5.9T61,101.7a16.7,16.7,0,0,1-3.8-10.4,15.3,15.3,0,0,1,5.9-12.4,21.6,21.6,0,0,1,14-4.8,23.5,23.5,0,0,1,19.3,10Z"/>
                    <path d="M105.9,55.9h14.4q13.1,0,18.5,2.3A22.5,22.5,0,0,1,149,66.1,20.6,20.6,0,0,1,152.4,78a23.9,23.9,0,0,1-4,13.5,23.2,23.2,0,0,1-10.8,8.8q-6.8,2.8-22.6,3L110.2,138H94.7Zm10.9,32.9q12.5-.1,16.4-2.6a8.6,8.6,0,0,0,3.8-7.6,7.7,7.7,0,0,0-1.5-4.8,7.9,7.9,0,0,0-4.4-2.7q-2.9-.8-11.6-.8Z"/>
                </g>
            </svg>

        </a>

        <section class="main-header__content" flex>
            <h1 class="main-header__title">Sebastien Pelletier</h1>
            <p class="main-header__bio">Tech Lead for Front-End Development <a href="http://www.ibwave.com" title="iBwave Solutions">@iBwave</a> <br>Blogging about Javascript, HTML5, UI Design & more!</p>
        </section>

        <section class="flex">
            <a href="https://twitter.com/sebastpelletier" target="_blank" class="main-header__link">
                <svg class="icon"><use xlink:href="{{site.baseurl}}/img/sprite.svg#icon-twitter"></use></svg>
            </a>
            <a href="https://github.com/sebpelletier" target="_blank" class="main-header__link">
                <svg class="icon"><use xlink:href="{{site.baseurl}}/img/sprite.svg#icon-github"></use></svg>
            </a>
            <a href="https://ca.linkedin.com/in/pelletiersebastien" target="_blank" class="main-header__link">
                <svg class="icon"><use xlink:href="{{site.baseurl}}/img/sprite.svg#icon-linkedin"></use></svg>
            </a>
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="main-header__link">
                <svg class="icon"><use xlink:href="{{site.baseurl}}/img/sprite.svg#icon-rss"></use></svg>
            </a>
        </section>

    </main>

</header>

<nav class="primary-nav">
    <div class="wrapper flex">
        <a href="/" title="All Posts" class="primary-nav__link">All Posts</a>
        {% for category in site.categories %}
            <a href="/{{ category | first }}" title="{{ category | first }}" class="primary-nav__link">{{ category | first }}</a>
        {% endfor %}
        <a href="/about" title="About" class="primary-nav__link">About</a>
        <a href="/contact" title="Contact" class="primary-nav__link">Contact</a>
    </div>
</nav>

 <!-- {% unless forloop.last %},{% endunless %} -->
