<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <meta name="theme-color" content="#24363A">

    <title>{% if page.title %}{{ page.title }} bleh{% else %}Seb Hello{% endif %}</title>

    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="Sebastien Pelletier">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto:300,400,500,700" rel="stylesheet">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <link rel="apple-touch-icon" sizes="57x57" href="{{ "/img/logo-57x57.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ "/img/logo-72x72.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ "/img/logo-114x114.png" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ "/img/logo-144x144.png" | prepend: site.baseurl }}" />
    <link rel="icon" sizes="192x192" href="{{ "/img/logo-192x192.png" | prepend: site.baseurl }}" />

    <!-- add OG tags and twitter tags -->
</head>
