<header class="main-header">

    <main class="wrapper flex">

        <a class="main-header__img" href="" title="Go back to Home">
            <img src="{{ site.baseurl }}/img/PhotoSmall.png" alt="seb" />
        </a>

        <section class="main-header__content" flex>
            <h1 class="main-header__title">Sebastien Pelletier</h1>
            <p class="main-header__bio">Hi, I'm the description</p>

            Twitter Github LinkedIn?
        </section>

    </main>

</header>

<nav class="primary-nav">
    <div class="wrapper">
        <a href="" title="Home">Home</a>
    </div>
</nav>
