
// Reusable classes
.flex {
    display: flex;
}

[flex] {
    flex: 1;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}





.text-center {
    text-align: center;
}
