$brandColors: (
    scaffold: (
        base:       #24363A,
        contrast:   #FF9900,
        links:      #45ADA8,
        alternate:  #547980,
    )
);

@function brand($color, $tone: "base") {
    @return map-get(map-get($brandColors, $color), $tone);
}
