$brandColors: (
    scaffold: (
        base:       rgba(17, 75, 95, 1),
        contrast:   rgba(244, 91, 105, 1),
        links:      rgba(69, 105, 144, 1),
        alternate:  rgba(2, 128, 144, 1),
        menu:       rgba(2, 128, 144, 0.2),
        tertiary:   rgba(228, 253, 225, 1)
    )
);

@function brand($color, $tone: "base") {
    @return map-get(map-get($brandColors, $color), $tone);
}
