.page-heading {
    margin-top: 0.4em;
}

.post {
    font-family: $font-family-alternate;
    background: white;
    padding: 0.7em 1em 0.6em 1em;
    //box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px #e5e5f0;
    border-radius: $border-radius;

    & + .post,
    &.single {
        margin-top: 2rem;
    }

    &:first-child {
        margin-top: 2rem;
    }
}

.post__content {
    margin-bottom: 0;
}

.post__title {
    margin-bottom: 0;
    font-size: 1.5em;
    line-height: 1.2;
    font-weight: 500;
}

.post__meta {
    font-size: 0.8em;
    color: $grey;
    font-family: $font-family-base;
}

.post__content {
    font-family: $font-family-base;
    margin-top: 0.5em;
}


table {
    border-collapse: collapse;
    border-spacing: none;
    border: 1px solid brand(scaffold, alternate);

    th {
        background: brand(scaffold, links);
        color: white;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        border: 1px solid brand(scaffold, alternate);
        padding: 0.4em 0.7em;
        text-align: left;
    }

    td {
        border: 1px solid brand(scaffold, alternate);
        padding: 0.4em 0.7em;
    }
}




// Pagination
.pagination {
    margin-top: 2rem;
    background: white;
    padding: 0.7em;
    box-shadow: 0 2px #e5e5f0;
    align-items: center;
    font-size: 1.1em;
    border-radius: $border-radius;
}

.pagination__num {
    list-style: none;
    padding: 0;
    margin: 0;

    li + li {
        margin-left: 0.2em;
    }
}

.pagination__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;

    &.disabled {
        opacity: 0.4;
    }
}

.pagination__nav {
    color: brand(scaffold, links);
}
