.main-header {
    background: brand(scaffold);
    padding: 0.7em 0;
}

.main-header__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    //background: brand(scaffold, contrast);
    //padding: 0.3em;

    // img {
    //     width: 100%;
    //     height: 100%;
    //     display: block;
    //     border-radius: 50%;
    // }

    background: rgba(255, 255, 255, 0.3);

    .ellipse {
        fill: rgba(228, 253, 225, 0.4);
    }

    .letters {
        fill: white;
    }
}

.main-header__content {
    margin-left: $gutter-x;

    a {
        color: brand(scaffold, contrast);
    }
}

.main-header__title {
    font-family: $font-family-montserrat;
    font-size: 1.25em;
    margin: 0;
    color: white;
}

.main-header__bio {
    font-size: 0.9em;
    font-family: $font-family-base;
    margin: 0;
    color: rgba(255, 255, 255, 0.75);
}

.main-header__link {

    background: rgba(255, 255, 255, 0.12);
    border-radius: 50%;
    padding: 0.35em;
    display: flex;

    &:not(:first-child) {
        margin-left: 0.35em;
    }

    .icon {
        width: 23px;
        height: 23px;
        fill: white;
    }

    &:hover {
        background: rgba(255, 255, 255, 0.3);
    }
}


// Nav
.primary-nav {
    background: brand(scaffold, menu);
    border-bottom: 1px solid brand(scaffold, menu);
    border-top: 1px solid darken(brand(scaffold, menu), 2%);
}

.primary-nav__link {
    color: brand(scaffold, alternate);
    font-size: 1em;
    text-transform: capitalize;
    padding: 0.5em 0;
    font-weight: 700;
    font-family: $font-family-montserrat;
    // text-align: center;
    // flex-grow: 1;
    &:not(:first-child) {
        margin-left: 4em;
    }
}
