// Our variables
$background-color: #F6F5F0;

$grey:       #828282;
$grey-color-light: lighten($grey, 40%);
$grey-color-dark:  darken($grey, 25%);

// Width of the content area
$content-width:    1140px;


$gutter-x:      1rem !default;
$gutter-y:      .5rem !default;

$border-radius: .25rem !default;




// Grid

$layout-breakpoint-xs: 600px !default;
$layout-breakpoint-sm: 960px !default;
$layout-breakpoint-md: 1280px !default;
$layout-breakpoint-lg: 1920px !default;



// Type
$font-family-roboto: 'Roboto', sans-serif !default;
$font-family-alternate: 'Oswald', sans-serif;
$font-family-base:       $font-family-roboto !default;

$font-size-root:         16px !default;

$font-size-base:         1rem !default;
$font-size-lg:           1.25rem !default;
$font-size-sm:           .875rem !default;
$font-size-xs:           .75rem !default;

$line-height-base:       1.5 !default;

$font-size-h1:           2.5rem !default;
$font-size-h2:           2rem !default;
$font-size-h3:           1.75rem !default;
$font-size-h4:           1.5rem !default;
$font-size-h5:           1.25rem !default;
$font-size-h6:           1rem !default;

$headings-font-weight:   500 !default;
$headings-line-height:   1.1 !default;





// Buttons
$button-border-radius:           .25rem !default;
$button-padding:                 0.65em 1em !default;
$button-margin:                  0 1.1em !default;
$button-font-size:               0.9rem !default;
$button-font-size-sm:            0.8rem !default;


$button-ease-duration:           0.4s !default;
$button-ease-timing: 			 cubic-bezier(0.25, 0.8, 0.25, 1) !default;
$button-ease:                    all $button-ease-duration $button-ease-timing !default;







// Links
$link-color: brand(scaffold, links);
$link-hover: brand(scaffold, contrast);
