---
layout: default
---

<h1 class="page-heading">{{ page.title }}</h1>

{% unless page.content == '' %}
  <p>{{ page.content }}</p>
{% endunless %}



{% for post in site.categories[page.category] %}
<article class="post">
    <h2 class="post__title">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post__link">
            {{ post.title }}
        </a>
    </h2>
    <span class="post__meta">Posted on {{ post.date | date: "%b %-d, %Y" }}</span>
    <p class="post__content">{{ post.content | strip_html | truncatewords: 30 }}</p>
  </span>
</article>
{% endfor %}
